@import 'public.css';
@import 'entrypagemixin.scss';
.header {
    height: 44px;
    background: #fff;
    line-height: 44px;
    color: #565656;
    font-size: 1.6rem;
    @include br;
    .header-con {
        width: 90%;
        height: 45px;
        margin: 0 auto;
        .share,.more,.shine{
            float: right;
            margin-left: 4%;
        }
        .icon{
            font-size: 2rem;
        }
    }
}
.commonality {
    height: 45px;
    line-height: 45px;
    font-size: 1.4rem;
    background: #fff;
    @include br;
    color: #666666;
}
.pic{
    position: relative;
    width: 100%;
    height:267px;
    background: url("../images/meituan_15c7b802607.jpg") center top no-repeat; 
    background-size: 100% 100%;
    .cover{
        position: absolute;
        left: 0;
        bottom: 0;
        width:100%;
        height: 50px;
        background: rgba(0,0,0,0.7);
        color: #FFF;
        li:nth-child(1){
            font-size: 1.5rem;
            line-height: 35px;
            margin-left: 4%;
        }
        li:nth-child(2){
            font-size: 1.2rem;
            line-height: 10px;
            margin-left: 4%;
        }
    }
}
.left{
    float: left;
    margin-left: 4%;
}
.right{
    float: right;
    margin-right: 4%; 
}
.price{
    width: 100%;
    height: auto;
    background: #fff;
    .much{
        width: 100%;
        color: #06c1ae;
        .p{
            margin-left: 4%;
        }
        .how{
            font-size: 2rem
        }
        .door{
            color: #ccc;
            font-size: 1.2rem;
            margin-left: 10px;
        }
        button{
            float: right;
            margin-right: 4%;
            background: #fe9900;
            text-align: center;
            color: #fff;
            border: none;
            outline: none;
            height: 30px;
            width: 25%;
            margin-top: 8px;
        }
    }
    .quit{
        color: #aed181;
        margin-left: 4%;
    }
    .safeguard{
    width: 100%;
    line-height: 30px;
    font-size: 1.4rem;
        padding-top: 10px;
        padding-bottom: 10px;
    background: #fff;
//    @include br;
    color: #666666;
    }
}
.evaluate{
    width: 100%;
    height: 100px;
    margin: 30px auto;
    background: #FFF;
}
.Info{
    width: 100%;
    height: 200px;
    background: #FFF;
}
.details{
    width: 100%;
    height: 200px;
    margin: 30px auto;
    background: #FFF;
}
.know{
    width: 100%;
    height: auto;
    margin: 30px auto;
    background: #FFF;
    line-height: 25px;
    color: #666666;
    .wk{
        margin-left: 4%;
        width: 90%;
        .color{
            color: #fe9900;
        } 
    }

}