@import url(public.css);
.header {
  height: 44px;
  background: #06c1ae;
  line-height: 44px;
  color: #FFF;
  font-size: 1.6rem;
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }
  .header .back {
    width: 4%;
    margin-left: 4%;
    float: left;
    color: #FFF; }
  .header .header-entry {
    width: 78%;
    float: left;
    text-align: center; }
  .header .register {
    float: right;
    width: 10%;
    margin-right: 4%;
    color: #FFF; }

.login {
  height: 45px;
  background: #FFF;
  font-size: 1.4rem;
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }
  .login .entry {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 43px;
    color: #777777; }
  .login .h {
    color: #8ae2d9;
    border-bottom: 2px solid #06c1ae; }

.content {
  line-height: 43px;
  font-size: 1.5rem;
  text-align: center;
  display: none; }
  .content .user {
    height: 43px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5; }
  .content .password {
    height: 43px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5; }
  .content .pwd,
  .content .name,
  .content .verification {
    float: left;
    margin-left: 4%;
    font-weight: bold; }
  .content .open {
    display: none; }
  .content input {
    float: left;
    width: 60%;
    height: 18px;
    border: none;
    background: none;
    margin-left: 6%;
    margin-top: 12px; }
  .content .moblie {
    width: 120px; }
  .content .eye {
    float: right;
    margin-right: 4%; }
  .content .eye-open {
    display: none; }
  .content .error {
    float: right;
    margin-right: 4%;
    color: #777777;
    display: none; }
  .content button {
    border: none;
    outline: none;
    font-size: 1.5rem; }
  .content .entry-button {
    width: 90%;
    height: 45px;
    margin: 20px auto;
    background: #83e1d7;
    color: #FFF; }
  .content a {
    color: #999999; }
  .content .otherway {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -45%;
    width: 90%;
    height: auto; }
    .content .otherway .line {
      position: absolute;
      width: 100%;
      height: 1px;
      border-top: 1px solid #efefef;
      z-index: 0; }
    .content .otherway .c {
      position: absolute;
      left: 50%;
      top: -18px;
      width: 36px;
      height: 36px;
      margin: 0 0 0 -18px;
      background: #FFF;
      border-top: 1px solid #f4f4f4;
      border-bottom: 1px solid #efefef;
      box-shadow: 1px 1px 1px 1px #f1f1f1;
      -webkit-box-shadow: 1px 1px 1px 1px #f1f1f1;
      -moz-box-shadow: 1px 1px 1px 1px #f1f1f1;
      -ms-box-shadow: 1px 1px 1px 1px #f1f1f1;
      -o-box-shadow: 1px 1px 1px 1px #f1f1f1;
      color: #efefef;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      z-index: 10; }
    .content .otherway .up {
      display: block; }
    .content .otherway .otherfont {
      display: block;
      margin-top: 20px;
      font-size: 1.2rem;
      color: #ababab; }
    .content .otherway .threeway {
      width: 55%;
      height: 70px;
      margin: 0 auto 40px auto; }
      .content .otherway .threeway .weixin {
        float: left;
        color: #51c332; }
      .content .otherway .threeway span {
        color: #878787; }
      .content .otherway .threeway .pic {
        width: 45px;
        height: 45px;
        border: 1px solid #efefef;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        font-size: 3rem;
        line-height: 45px;
        text-align: center; }
      .content .otherway .threeway .xinlang {
        position: absolute;
        left: 50%;
        margin-left: -22px;
        color: #f44c24; }
      .content .otherway .threeway .qq {
        float: right;
        color: #23b9e4; }
  .content .mobile {
    height: 43px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5; }
    .content .mobile .getcode {
      float: right;
      margin-top: 7px;
      margin-right: 4%;
      height: 30px;
      font-size: 1.2rem;
      background: #f7f7f7;
      color: #bcbcbc; }
  .content .code {
    height: 43px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5; }
  .content .deal {
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 1rem; }
    .content .deal .left {
      float: left; }
      .content .deal .left span {
        color: #999999; }
      .content .deal .left a {
        color: #3ecfc0;
        text-decoration: underline; }
    .content .deal .right {
      float: right; }

.ch {
  display: block; }

.shade {
  position: fixed;
  left: 50%;
  top: 100px;
  margin-left: -25%;
  width: 50%;
  height: 200px;
  background: #ccc;
  display: none; }
  .shade .shade-closed {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #FFF; }
  .shade .shade-font {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem; }

/*# sourceMappingURL=entrypage.css.map */
